body{
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 550px;
    margin-right: 550px;
    background-position: center;
    color: white;
}

p>p2
{
    background-color: goldenrod;
}


.box {
    padding:10px;
    height: 65px;
    width: 400px;
    font-size: 20px;
    border-left:black 4px solid;
    background-color: black;
    font-style:italic;
    border-radius: 15px;
}
.container
 {
    background-image: url("my pic.png");
    background-repeat:no-repeat;
    background-size: contain;
    background-position: 15px 15px;
    background-size: 80px 80px;
    margin-top: 15px;
    padding:10px;
    height: 100px;
    font-size: 18px;
    background-color:green;
    font-style:italic;
    padding-left: 100px;
    border: 15px;
    font-size:small;
}
.price {
    margin-top:80px;
    padding:10px;
    height: 60px;
    color:yellow;
    font-size: 18px;
    background-color: darkblue;
}
p6
{
    margin-left:200px;
}